<!doctype html>
<html lang="pt-br" class="">
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <title><%= current_page.data.title %></title>

    <meta name="description" content="FrontInSampa 2014 - Evento focado em Desenvolvimento Front-end em S達o Paulo, dia 25 de Outubro de 2014." />
    <meta name="keywords" content="Desenvolvedor Frontend, Desenvolvedor Front-end, Frontend em S達o Paulo, Eventos de frontend em S達o Paulo, FrontInSampa, FrontInSampa 2014" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <meta property="og:type" content="website"/>
    <meta property="og:locale" content="pt-br" />
    <meta property="og:title" content="FrontInSampa 2014" />
    <meta property="og:site_name" content="FrontInSampa"/>
    <meta property="og:description" content="FrontInSampa 2014 - Evento focado em Desenvolvimento Front-end em S達o Paulo, dia 25 de Outubro de 2014."/>
    <meta property="og:url" content="http://www.frontinsampa.com.br/"/>
    <meta property="og:image" content="http://www.frontinsampa.com.br/images/frontinsampa.jpg" />

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="www.frontinsampa.com.br" />

    <link rel="shortcut icon" href="<%= base_url %>images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/apple-touch-icon-144x144.png">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Oswald:400,300,700' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag "all" %>
  </head>

  <body>
    <%= yield %>
    <script src="http://zeptojs.com/zepto.min.js"></script>
    <%= javascript_include_tag  "all" %>
  </body>
</html>
