<section id="area-sponsor">
  <div class="container">
    <h2 class="title-sponsor">Patrocinadores</h2>

    <h3 class="sub-title">Prata</h3>
    <ul>
      <li>
        <a href="https://aerolab.co/" target="_blank">
          <img src="<%= base_url %>images/aerolab_logo.svg" width="270" height="122" alt="Aerolab" >
        </a>
      </li>
    </ul>


    <h2 class="title-sponsor">Apoio</h2>
    <ul>
        <li>
        	<a href="http://www.stickersdevs.com.br/" target="_blank">
            <img src="<%= base_url %>images/stickers-dev.jpg" alt="Stickers Dev apoia o Frontinsampa" >
        	</a>
        </li>
        <li>
          <a href="http://eucompraria.com.br/" target="_blank">
            <img src="<%= base_url %>images/eucompraria.jpg" alt="Eu compraria apoia o Frontinsampa" >
          </a>
        </li>
        <li>

            <img src="<%= base_url %>images/devfest.jpg" alt="Devfest apoia o frontinsampa " >

        </li>

        <li>
          <a href="http://conferenciacssbrasil.com.br/" target="_blank">
            <img src="<%= base_url %>images/confcssbr.jpg" alt="Conferência CSS de SP apoia o Frontinsampa" >
          </a>
        </li>

        <li>
          <a href="http://www.meetup.com/CSS-SP" target="_blank">
            <img src="<%= base_url %>images/meetupcss-sp.jpg" alt="Meetup CSS de SP apoia o Frontinsampa" >
          </a>
        </li>

        <li>
          <a href="http://devnaestrada.com.br/" target="_blank">
            <img src="<%= base_url %>images/dev-estrada.jpg" alt="Dev na estrada apoia o frontinsampa" >
          </a>
        </li>


      </ul>

      <h2 class="title-sponsor">Apresentação</h2>
      <ul>
        <li>
          <a href="http://www.twitter.com/raphaelfabeni" target="_blank" title="Ir para o twitter de Elvis Detona">
            <img src="<%= base_url %>images/raphael-fabeni-frontinsampa.jpg" alt="Raphael Fabeni" >
            <span class="sub-title">Raphael Fabeni<br> <small>@raphaelfabeni</small></span>
          </a>
        </li>
      </ul>


      <h2 class="title-sponsor">Curadores</h2>
      <ul>
        <li>
          <a href="http://www.twitter.com/elvisdetona" target="_blank" title="Ir para o twitter de Elvis Detona">
            <img src="<%= base_url %>images/elvis-detona-frontinsampa.jpg" alt="Sergio Nascimento (Elvis Detona)' %>" >
            <span class="sub-title">Sergio Nascimento<br> <small>@elvisdetona</small></span>
          </a>
        </li>
        <li>
          <a href="http://www.twitter.com/deividmarques" target="_blank" title="Ir para o twitter de Deivid Marques">
            <img src="<%= base_url %>images/deivid-marques-frontinsampa.jpg" alt="Deivid Marques" >
            <span class="sub-title">Deivid Marques<br><small> @deividmarques</small></span>
          </a>
        </li>
      </ul>
  </div>
</section>
