<section id="area-timeline">
  <div class="container">
    <h2 class="title">Programação</h2>

    <ul class="list-timeline">
      <li>
        <h3 class="talk-time">8:00 - 9:00</h3>
        <h4 class="sub-title">Credenciamento</h4>
        <p>Não esqueça de trazer seu RG.</p>
      </li>
      <li>
        <div class="box-spearker" itemscope itemtype="http://schema.org/Person">
          <%= image_tag 'kenzo-porto-frontinsampa.jpg', alt: 'Kenzo Porto' %>
          <h3 class="sub-title">Kenzo Porto</h3>
          <p class="hide-mobile" itemprop="jobtitle">Gerente de Operações Google Maps for Business</p>
          <a itemprop="url" href="https://github.com/ekkporto" class="hide-mobile" target="_blank">github.com/ekkporto</a>
        </div>
        <h3 class="talk-time">9:00- 9:40</h3>
        <h4 class="sub-title">Diversão com Google Maps API</h4>
        <p class="hide-mobile">Todos os dias usamos o Google Maps, seja para encontrar a localização de algum lugar ou traçar uma rota. A quantidade de dados disponíveis é incrível: imagens de satélite, street view, mapas indoor e muitos outros. Você já pensou em desenvolver aplicações aproveitando tais dados e dezenas de serviços que nossas APIs oferecem? Vamos tocar a "ponta do iceberg" com exemplos de aplicações e códigos. Prometo que você vai se divertir bastante!</p>
      </li>
      <li>
        <div class="box-spearker" itemscope itemtype="http://schema.org/Person">
          <%= image_tag 'ciro.jpg', alt: 'Ciro Nunes' %>
          <h3 class="sub-title">Ciro Nunes</h3>
          <p class="hide-mobile" itemprop="jobtitle">Front-end Engineer Senior na Questrade</p>
          <a itemprop="url" href="http://twitter.com/cironunesdev" class="hide-mobile" target="_blank">@cironunesdev</a>
        </div>
        <h3 class="talk-time">9:50 - 10:30</h3>
        <h4 class="sub-title">Criando Componentes AngularJS</h4>
        <p class="hide-mobile">Componentização é a palavra-chave quando falamos de como criar aplicações extremamente modulares, testáveis e fáceis de manter. Não é atoa que os Web Components são aguardados ansiosamente pela comunidade Front-end. Nesta palestra vamos aprender a criar, reutilizar e compartilhar componentes feitos com o AngularJS.</p>
      </li>
      <li>
        <div class="box-spearker" itemscope itemtype="http://schema.org/Person">
          <%= image_tag 'anderson-casimiro-frontinsampa.jpg', alt: 'Anderson Casimiro' %>
          <h3 class="sub-title">Anderson Casimiro</h3>
          <p class="hide-mobile" itemprop="jobtitle">Evangelista tecnológico JetBrains</p>
          <a itemprop="url" href="http://twitter.com/duodraco" class="hide-mobile" target="_blank">@duodraco</a>
        </div>
        <h3 class="talk-time">10:40 - 11:05</h3>
        <h4 class="sub-title">Ao infinito e além com WebStorm</h4>
        <p class="hide-mobile">Vamos apresentar o WebStor, que é uma das (senão a) melhores ferramentas para desenvolvimento Javascript, tanto para os inexperientes como para os que já experimentaram a ferramenta. Desde configurá-la para seu projeto web como fazer live editing e debugging, mostrando suporte a Angular e Node, além de Dart, Coffee e Type Script, além do uso de testes unitários - e muito mais</p>
      </li>
      <li>
        <div class="box-spearker" itemscope itemtype="http://schema.org/Person">
          <%= image_tag 'fernanda.jpg', alt: 'Fernanda Bernardo' %>
          <h3 class="sub-title">Fernanda Bernardo</h3>
          <p class="hide-mobile" itemprop="jobtitle">Desenvolvedora na Caelum</p>
          <a itemprop="url" href="https://www.facebook.com/feh.bernardo" class="hide-mobile" target="_blank">facebook.com/feh.bernardo</a>
        </div>
        <h3 class="talk-time">11:15 - 11:40</h3>
        <h4 class="sub-title">Jogos: indo além do simples CSS!</h4>
        <p class="hide-mobile">Há quem pense que o CSS serve somente para aplicar estilos a determinados elementos, e realmente seu principal objetivo é esse! Mas alguém já pensou que seria possível capturar eventos, como um evento de clique por exemplo, e gerar algum tipo de animação com isso? E falar que com isso é possível criar um jogo? Neste talk explicarei como criar um jogo simples, sem uma linha de javascript, usando apenas HTML e CSS. Além de muitas de suas funcionalidades: pseudo-elementos, pseudo-classes, animations, entre outras.</p>
      </li>
      <li>
        <div class="box-spearker" itemscope itemtype="http://schema.org/Person">
          <%= image_tag 'leobeto.jpg', alt: 'Leonardo Alberto Souza' %>
          <h3 class="sub-title">Leonardo Souza</h3>
          <p class="hide-mobile" itemprop="jobtitle">Desenvolvedor Perl e Front-end na Estante Virtual</p>
          <a itemprop="url" href="http://twitter.com/leobetosouza" itemprop="url" class="hide-mobile" target="_blank">@leobetosouza</a>
        </div>
        <h3 class="talk-time">11:50 - 12:30</h3>
        <h4 class="sub-title">Dados sobre dados: Microdata e Open Graph</h4>
        <p class="hide-mobile">Como que um pouquinho de metainformação pode ajudar seu projeto.</p>
      </li>
      <li>
        <h3 class="talk-time">12:40 - 13:50</h3>
        <h4 class="sub-title">Almoço</h4>
        <p>Várias lanchonetes e restaurantes ao redor, é só escolher.</p>
      </li>
      <li>
        <div class="box-spearker" itemscope itemtype="http://schema.org/Person">
          <%= image_tag 'thiago.jpg', alt: 'Thiago Pontes' %>
          <h3 class="sub-title">Thiago Pontes</h3>
          <p class="hide-mobile" itemprop="jobtitle">Desenvolvedor na área de vídeos da Globo.com</p>
          <a itemprop="url" href="http://twitter.com/thiagopnts" class="hide-mobile" target="_blank">@thiagopnts</a>
        </div>
        <h3 class="talk-time">14:00 - 14:40</h3>
        <h4 class="sub-title">Vídeo na web além da tag video</h4>
        <p class="hide-mobile">Conheça a arquitetura do Clappr, um player HTML5 opensource, criado com foco em
          modularidade e extensibilidade. O Clappr é o coração do novo player da Globo.com e deu as caras pela primeira vez durante a transmissão dos jogos de um dos maiores eventos esportivos do mundo.
        </p>
      </li>
      <li>
        <div class="box-spearker" itemscope itemtype="http://schema.org/Person">
          <%= image_tag 'maujor.jpg', alt: 'Maujor' %>
          <h3 class="sub-title">Maujor</h3>
          <p class="hide-mobile">O Dinossauro das CSS - www.maujor.com</p>
          <a itemprop="url" href="http://twitter.com/maujor" class="hide-mobile" target="_blank">@maujor</a>
        </div>
        <h3 class="talk-time">14:50 - 15:20</h3>
        <h4 class="sub-title">Web Design Responsivo</h4>
        <p class="hide-mobile">O Dinossauro das CSS gostou tanto do Inferno que resolveu voltar e dar dicas preciosas que estão em seu mais recente livro, Web Design Responsivo (Novatec). Não perca por nada e aproveite para autografar seu livro e tirar uma #selfie com ele enquanto ele tira TODAS as suas dúvidas.</p>
      </li>
      <li>
        <div class="box-spearker" itemscope itemtype="http://schema.org/Person">
          <%= image_tag 'joao-dalbem-frontinsampa.jpg', alt: 'Joao Dalben' %>
          <h3 class="sub-title">João Dalben</h3>
          <p class="hide-mobile" itemprop="jobtitle">Phix.it / QueroRock</p>
          <a itemprop="url" href="https://www.linkedin.com/in/jdalben" class="hide-mobile" target="_blank">linkedin.com/in/jdalben</a>
        </div>
        <h3 class="talk-time">15:25 - 15:50</h3>
        <h4 class="sub-title">Atual Mercado para frontend</h4>
        <p class="hide-mobile">Um bate papo sobre tendências do mercado front-end, o que as empresas estão buscando. O que mais falta no mercado, o que os contratantes estão buscando? Fabrica front end funciona? Grupos de trabalho ou Start-up?</p>
      </li>
      <li>
        <div class="box-spearker" itemscope itemtype="http://schema.org/Person">
          <%= image_tag 'neto.jpg', alt: 'Neto Marin' %>
          <h3 class="sub-title">Neto Marin</h3>
          <p class="hide-mobile" itemprop="jobtitle">Developer Advocate do Google no Brasil</p>
          <a itemprop="url" href="http://twitter.com/netomarin" class="hide-mobile" target="_blank">@netomarin</a>
        </div>
        <h3 class="talk-time">16:00 - 16:40</h3>
        <h4 class="sub-title">Entendendo o Design Material do Google</h4>
        <p class="hide-mobile">No Google I/O 2014 o Google anunciou um redesenho na interface do Android, inclusive na maneira de organizar os componentes. Nessa palesta, Neto Marin irá mostrar quais foram essas alterações, como elas contribuem para a usabilidade do seu aplicativo e também como você deve fazer para já utilizar essa nova identidade visual no seu aplicativo Android.</p>
      </li>
      <li>
        <h3 class="talk-time">16:50 - 17:10</h3>
        <h4 class="sub-title">Coffeebreak</h4>
        <p>Levante para esticar as pernas, tomar um café e bater um papo com o pessoal.</p>
      </li>
      <li>
        <div class="box-spearker" itemscope itemtype="http://schema.org/Person">
          <%= image_tag 'shankar-cabus-frontinsampa.jpg', alt: 'Shankar Cabus' %>
          <h3 class="sub-title">Shankar Cabus</h3>
          <p class="hide-mobile" itemprop="jobtitle">Front End Engineer and Web Designer at JusBrasil</p>
          <a itemprop="url" href="http://twitter.com/shankarcabus" class="hide-mobile" target="_blank">@shankarcabus</a>
        </div>
        <h3 class="talk-time">17:15 - 17:40</h3>
        <h4 class="sub-title">O Poder está no Frontend</h4>
        <p class="hide-mobile">"Afinal, você sabe o que é o frontend? Onde ele começa e onde ele termina? Por que o frontend é uma área que tem crescido tanto? O que você precisa saber para ser um super-herói, ops, um frontender? Vamos desmistificar assuntos polêmicos e, de uma forma bem divertida, mostrar onde está o poder!"</p>
      </li>
      <li>
        <div class="box-spearker" itemscope itemtype="http://schema.org/Person">
          <%= image_tag 'leda-spelta-frontinsampa.jpg', alt: 'Lêda Spelta' %>
          <h3 class="sub-title">Lêda Spelta</h3>
          <p class="hide-mobile" itemprop="jobtitle">Fundadora da Acesso Digital (http://acessodigital.net)</p>
          <a itemprop="email" href="mailto:leda.spelta@acessodigital.net" target="_blank" class="hide-mobile">leda.spelta@acessodigital.net</a>
        </div>
        <h3 class="talk-time">17:50 - 18:30</h3>
        <h4 class="sub-title">Desmistificando a Acessibilidade Web.</h4>
        <p class="hide-mobile">Lêda Spelta é psicóloga e foi uma das primeiras pessoas cegas a trabalhar com informática no Rio de Janeiro. É fundadora da Acesso Digital (http://acessodigital.net), psicoterapeuta e consultora da Humanus RH para o programa de inclusão de pessoas com deficiência no mercado de trabalho. É especialista em acessibilidade, autora de artigos, palestrante e instrutora. Faz parte do GT de Acessibilidade na Web do W3C Brasil. Recebeu o Prêmio Nacional de Acessibilidade na Web em 2013.</p>
      </li>
      <li>
        <div class="box-spearker" itemscope itemtype="http://schema.org/Person">
          <%= image_tag 'raphael.jpg', alt: 'Raphael Fabeni' %>
          <h3 class="sub-title">Raphael Fabeni</h3>
          <p class="hide-mobile" itemprop="jobtitle">Desenvolvedor na A2 Comunicação</p>
          <a itemprop="url" href="http://twitter.com/raphaelfabeni" class="hide-mobile" target="_blank">@raphaelfabeni</a>
        </div>
        <h3 class="talk-time">18:40 - 19:20</h3>
        <h4 class="sub-title">Os paranauês do CSS3</h4>
        <p class="hide-mobile">Todo mundo fala de CSS3, mas, e no dia a dia? Ele está presente nos seus projetos? Ou ele acaba ficando de lado? Seja por suporte, receio ou conforto, ainda muitos projetos acabam não aproveitando o poder que o CSS3 oferece. Nessa palestra vamos adentrar no mundo do CSS3 com a ajuda de um forte aliado: o SASS. Iremos passar pelas propriedades mais básicas até àquela que você ficou com preguiça de dar uma olhada, através de exemplos, sintaxe, snippets para utilização no dia a dia e claro, dicas e pegadinhas.</p>
      </li>
      <li>
        <h3 class="talk-time">19:30 - 21:30</h3>
        <p>Happy Networking Hour com Dj e Open Bar</p>
      </li>
    </ul>
    <p>Horários e ordem das apresentações poderão ser alterados até a data do evento!</p>
  </div>
</section>
