<section id="area-timeline">
  <div class="container">
    <h2 class="title">Programação</h2>

    <ul class="list-timeline">
      <li>
        <h3 class="talk-time">8:00 - 9:00</h3>
        <h4 class="sub-title">Credenciamento</h4>
        <p>Não esqueça de trazer seu RG.</p>
      </li>
      <li>
        <div class="box-spearker" itemscope itemtype="http://schema.org/Person">
          <img src="<%= base_url %>images/sergio-lopes.jpg" alt="Palestrante - Sergio Lopes da Caelum" >
          <h3 class="sub-title">Sergio Lopes</h3>
          <p class="hide-mobile" itemprop="jobtitle">Instrutor e desenvolvedor na Caelum e no Alura</p>
          <a itemprop="url" href="https://twitter.com/sergio_caelum" class="hide-mobile" target="_blank"><strong>@sergio_caelum</strong></a>
        </div>
        <h3 class="talk-time">9:00- 9:40</h3>
        <h4 class="sub-title">"Progressive Web Apps: o melhor da web, "Appficada"</h4>
        <p class="hide-mobile">Muito do que só se fazia em Apps nativas hoje é possível na Web. Conheça as Progressive Web Apps instaláveis e como dar a melhor.</p>
      </li>
      <li>
        <div class="box-spearker" itemscope itemtype="http://schema.org/Person">
          <img src="<%= base_url %>images/eduardo-matos.png" alt="palestrante - Eduardo Matos">
          <h3 class="sub-title">Eduardo Matos</h3>
          <p class="hide-mobile" itemprop="jobtitle">Full-Stack Developer na Medicinia</p>
          <a itemprop="url" href="http://twitter.com/eduardojmatos" class="hide-mobile" target="_blank"><strong>@eduardojmatos</strong></a>
        </div>
        <h3 class="talk-time">9:50 - 10:30</h3>
        <h4 class="sub-title">A "saudável" vida de um desenvolvedor front-end em uma startup</h4>
        <p class="hide-mobile">Scrum, viradas de versão, entregas contínuas, métricas, UX... Esses são alguns dos termos que você vai mais ouvir num ambiente de uma startup. Quais as partes positivas e negativas disso tudo e como o front-end pode interferir no sucesso ou fracasso de um produto é o que você vai descobrir nessa palestra!</p>
      </li>
      <li>
        <div class="box-spearker" itemscope itemtype="http://schema.org/Person">
          <img src="<%= base_url %>images/lourdes-montano.jpg" alt="Palestrante Lourdes Montano">
          <h3 class="sub-title">Lourdes Montano</h3>
          <p class="hide-mobile" itemprop="jobtitle">Speaker at JS Conf Uruguay, Conferência CSS Brasil, Sass Conf 2015 Austin and FrontEnd Developer, R/GA Buenos Aires, Argentina.</p>
          <a itemprop="url" href="http://twitter.com/loumontano" class="hide-mobile" target="_blank"><strong>@loumontano</strong></a>
        </div>
        <h3 class="talk-time">10:40 - 11:20</h3>
        <h4 class="sub-title">Guia de estilos com Sass Maps</h4>
        <p class="hide-mobile">Nesta palestra vamos ver como criar estilos com Sass Maps, uma ferramenta útil para a organização de código e tornar mais fácil de se estruturar e facilitar sua manutenção.</p>
      </li>
      <li>
        <div class="box-spearker" itemscope itemtype="http://schema.org/Person">
          <img src="<%= base_url %>images/vanessa.png" alt="Palestrante Vanessa Me Tonini">
          <h3 class="sub-title">Vanessa Me Tonini</h3>
          <p class="hide-mobile" itemprop="jobtitle">Tecnóloga em Sistemas para Internet, Especialista em Desenvolvimento Web, Engenheira de Software, voluntária na Marialab Hackerspace, e consultora Agile Coach</p>
          <a itemprop="url" href="http://twitter.com/vanessametonini" class="hide-mobile" target="_blank"><strong>@vanessametonini</strong></a>
        </div>
        <h3 class="talk-time">11:30 - 12:10</h3>
        <h4 class="sub-title">WAI-ARIA: Acessibilidade em tempo real</h4>
        <p class="hide-mobile">Acessibilidade sempre vem em pauta quanto falamos sobre conteúdo Web. Porém hoje as aplicações da Web estão cada vez mais complexas: interações em tempo real, conteúdos dinâmicos, animações, vídeos, vetores... E a acessibilidade, como acompanha tudo isto?! O WAI-ARIA surgiu para possibilitar acessibilidade para diversos cenários da atual Web, e nesta palestra será exibido como esta extensão do HTML5 funciona e se aplica. Assim, fazendo a base para que você possa criar aplicações Web mais inclusivas e acessíveis em conjunto com as últimas tecnologias.</p>
      </li>

      <li>
        <h3 class="talk-time">12:20 - 14:00</h3>
        <h4 class="sub-title">Almoço</h4>
        <p>Várias lanchonetes e restaurantes ao redor, é só escolher.</p>
      </li>
      <li>
        <div class="box-spearker" itemscope itemtype="http://schema.org/Person">
          <img src="<%= base_url %>images/fernando-fleury.jpg" alt="palestrante Fernando Fleury">
          <h3 class="sub-title">Fernando Fleury</h3>
          <p class="hide-mobile" itemprop="jobtitle">FrontEnd Developer na Leroy Merlin, São Paulo, Brasil</p>
          <a itemprop="url" href="https://github.com/fernandofleury" class="hide-mobile" target="_blank"><strong>@fernandofleury </strong></a>
        </div>
        <h3 class="talk-time">14:10 - 14:50</h3>
        <h4 class="sub-title">PostCSS - Além dos pré-processadores</h4>
        <p class="hide-mobile">Como uma ferramenta em node.js me fez enxergar que eu não preciso mais usar pré-processadores</p>
      </li>
      <li>
        <div class="box-spearker" itemscope itemtype="http://schema.org/Person">
          <img src="<%= base_url %>images/cassio.jpg" alt="palestrante Cassio Zen">
          <h3 class="sub-title">Cássio Zen  </h3>
          <p class="hide-mobile" itemprop="jobtitle">Programador há mais de 10 anos, autor e entusiasta de React. Atuou no Brasil e nos EUA desenvolvendo projetos para grandes marcas como Google, Coca-Cola, Itaú e Unilever, entre outros.</p>
          <a itemprop="url" href="http://twitter.com/@cassiozen " class="hide-mobile" target="_blank"><strong>@cassiozen </strong></a>
        </div>
        <h3 class="talk-time">15:00 - 15:40</h3>
        <h4 class="sub-title">REACT E FLUX: UMA NOVA ABORDAGEM - DESENVOLVIMENTO DE APLICAÇÕES</h4>
        <p class="hide-mobile">React é uma biblioteca JavaScript que trouxe uma nova abordagem para o desenvolvimento de aplicações web e mobile nativas. Flux é uma arquitetura para desenvolvimento de aplicações que complementa o React. <br>O objetivo dessa palestra é apresentar as tecnologias de forma prática e mostrar como elas podem ser empregadas em seus próximos projetos</p>
      </li>

       <li>
        <div class="box-spearker" itemscope itemtype="http://schema.org/Person">
          <img src="<%= base_url %>images/sergio-behrends.png" alt="Palestrante Sergio Behrends">
          <h3 class="sub-title">Sergio Behrends</h3>
          <p class="hide-mobile" itemprop="jobtitle">Lead Developer na agencia digital @aerolab (Argentina). Ele é Designer Industrial, mas faz código desde antes de começar o Ensino Médio. Um apaixonado pelas novas tecnologias</p>
          <a itemprop="url" href="http://twitter.com/@blunk" class="hide-mobile" target="_blank"><strong>@blunk</strong></a>
        </div>
        <h3 class="talk-time">15:50 - 16:30</h3>
        <h4 class="sub-title">THE UTILITY BELT OF DEVS - A BETTER WORKFLOW</h4>
        <p class="hide-mobile">Melhore seu workflow de desenvolvimento e seu tempo, estruturando as tarefas repetitivas como compilar os diferentes preprocessadores, preparar os assets, lint, unit test, etc. Seja eficaz e organize-se com task managers.</p>
      </li>

      <li>
        <h3 class="talk-time">16:30 - 17:00</h3>
        <h4 class="sub-title">Coffeebreak</h4>
        <p>Levante para esticar as pernas, tomar um café e bater um papo com o pessoal.</p>
      </li>

      <li>
        <div class="box-spearker" itemscope itemtype="http://schema.org/Person">
          <img src="<%= base_url %>images/evangelina.jpg" alt="Palestrante Evangelina Ferreira">
          <h3 class="sub-title">Eva Ferreira</h3>
          <p class="hide-mobile" itemprop="jobtitle">Evangelina ensina Web design na Universidade Tecnológica Nacional da Argentina. Já palestrou na CSSConf EUA, Austrália e JSConf da Argentina. Em seu tempo livre estuda Design Multimídia e lê Harry Potter.</p>
          <a itemprop="url" href="http://twitter.com/evaferreira92" class="hide-mobile" target="_blank"><strong>@evaferreira92</strong></a>
        </div>
        <h3 class="talk-time">17:00 - 17:50</h3>
        <h4 class="sub-title">Newton & CSS</h4>
        <p class="hide-mobile">Animações realistas possuem um pouco de física. Nesta palestra mostrarei um pouco sobre Newton e muito de timing-functions! </p>
      </li>

      <li>
        <div class="box-spearker" itemscope itemtype="http://schema.org/Person">
          <img src="<%= base_url %>images/helder.png" alt="Palestrante Helder Santana">
          <h3 class="sub-title">Helder Santana</h3>
          <p class="hide-mobile" itemprop="jobtitle">Front-end Developer com passagem por empresas como boo-box, Buscapé, Dafiti e Apontador. Atualmente trabalha em startups na América do Norte, Canadá - Toronto.</p>
          <a itemprop="url" href="http://twitter.com/helder" class="hide-mobile" target="_blank"><strong>@helder</strong></a>
        </div>
        <h3 class="talk-time">18:00 - 18:50</h3>
        <h4 class="sub-title">FOREIGN-ENDS, A EXPERIÊNCIA DE PROFISSIONAIS MUNDO AFORA</h4>
        <p class="hide-mobile">Estarei comentando nesse talk o que tenho aprendido nos último anos fora de solo Tupiniquim. Apresentarei também opiniões de outros profissionais espalhados pelo globo.</p>
      </li>

      <li>
        <div class="box-spearker" itemscope itemtype="http://schema.org/Person">
          <img src="<%= base_url %>images/party.jpg" alt="Imagem de um Dj tocando na festa do Frontinsampa">
          <h3 class="sub-title">after hour</h3>
          <p class="hide-mobile" itemprop="jobtitle">Powered by Frontinsampa + DevFest SP. Como os 2 eventos vão acontecer simultaneamente e estão na mesma região, resolvemos juntar as forças e fazer uma grande festa! Djs convidados: Renan Bulgueroni (Sócio-diretor na Webtática e Discotecou na 2ª edição) e Leandro Godoi (Nosso fotógrafo ataca de DJ nas horas vagas).</p>
        </div>
        <h3 class="talk-time">19:00</h3>
        <p>Além do Open Bar com VJ e Dj´s, teremos também a presença dos participantes do DevFest SP, que é organizado pelo GDG-SP</p>
      </li>
    </ul>
    <p>Horários e ordem das apresentações poderão ser alterados até a data do evento!</p>
  </div>
</section>
