<section id="area-sponsor">
  <div class="container">
    <h2 class="title-sponsor">Patrocinadores</h2>
    <h3 class="sub-title">Prata</h3>
      <ul>
        <li>
          <a href="http://www.globo.com.br" target="_blank">
            <%= image_tag 'globocom.jpg', alt: 'Globo.com é patrocinador Bronze no Frontinsampa 2014' %>
          </a>
        </li>
      </ul>

    <h2 class="title-sponsor">Apoio</h2>
    <ul>
        <li>
        	<a href="http://www.eventick.com.br" target="_blank">
            <%= image_tag 'eventick.jpg', alt: 'Eventick apoia o Frontinsampa' %>
        	</a>
        </li>
        <li>
          <a href="http://www.novatec.com.br" target="_blank">
            <%= image_tag 'novatec.jpg', alt: 'Novatec apoia o Frontinsampa' %>
          </a>
        </li>
        <li>
        	<a href="http://www.imasters.com.br/" target="_blank">
            <%= image_tag 'imasters.jpg', alt: 'iMasters apoia o Frontinsampa' %>
        	</a>
        </li>
        <li>
        	<a href="http://eucompraria.com.br/" target="_blank">
            <%= image_tag 'eucompraria.jpg', alt: 'Eu compraria apoia o Frontinsampa' %>
        	</a>
        </li>
        <li>
        	<a href="https://www.facebook.com/caravanaweb" target="_blank">
            <%= image_tag 'caravanaweb.jpg', alt: 'CaravanaWeb apoia o Frontinsampa' %>
        	</a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="http://www.ladodesign.com.br/" target="_blank">
            <%= image_tag 'logo-lado-design.jpg', alt: 'Lado Design apoia o Frontinsampa' %>
          </a>
        </li>
        <li>
          <a href="https://plus.google.com/u/0/+DesenvolvedoresGoogle" target="_blank">
            <%= image_tag 'google-developers.jpg', alt: 'Google Developers apoia o Frontinsampa' %>
          </a>
        </li>
        <li>
          <a href="http://www.meetup.com/CSS-SP/" target="_blank">
            <%= image_tag 'meetupcss-sp.jpg', alt: 'Meetup CSS SP apoia o Frontinsampa' %>
          </a>
        </li>
      </ul>
      <h2 class="title-sponsor">Organização e Curadoria</h2>
      <ul>
        <li>
          <a href="http://www.twitter.com/elvisdetona" target="_blank" title="Ir para o twitter de Elvis Detona">
            <%= image_tag 'elvis-detona-frontinsampa.jpg', alt: 'Sergio Nascimento (Elvis Detona)' %><br>
            <span class="sub-title">Sergio Nascimento<br> @elvisdetona</span>
          </a>
        </li>
        <li>
          <a href="http://www.twitter.com/deividmarques" target="_blank" title="Ir para o twitter de Deivid Marques">
            <%= image_tag 'deivid-marques-frontinsampa.jpg', alt: 'Deivid Marques' %>
            <span class="sub-title">Deivid Marques<br> @deividmarques</span>
          </a>
        </li>
      </ul>
  </div>
</section>
