<section id="area-sponsor">
  <div class="container">
    <h2 class="title-sponsor">Patrocinadores</h2>
    <h3 class="sub-title">Prata</h3>
      <ul>
        <li>
          <a href="http://www.globo.com.br" target="_blank">
            <%= image_tag 'globocom.jpg', alt: 'Globo.com é patrocinador Bronze no Frontinsampa 2014' %>
          </a>
        </li>
      </ul>

    <h2 class="title-sponsor">Apoio</h2>
    <ul>
        <li>
        	<a href="http://www.eventick.com.br" target="_blank">
            <%= image_tag 'eventick.jpg', alt: 'Eventick apoia o Frontinsampa' %>
        	</a>
        </li>
        <li>
          <a href="http://www.novatec.com.br" target="_blank">
            <%= image_tag 'novatec.jpg', alt: 'Novatec apoia o Frontinsampa' %>
          </a>
        </li>
        <li>
        	<a href="http://www.imasters.com.br/" target="_blank">
            <%= image_tag 'imasters.jpg', alt: 'iMasters apoia o Frontinsampa' %>
        	</a>
        </li>
        <li>
        	<a href="http://eucompraria.com.br/" target="_blank">
            <%= image_tag 'eucompraria.jpg', alt: 'Eu compraria apoia o Frontinsampa' %>
        	</a>
        </li>
        <li>
        	<a href="https://www.facebook.com/caravanaweb" target="_blank">
            <%= image_tag 'caravanaweb.jpg', alt: 'CaravanaWeb apoia o Frontinsampa' %>
        	</a>
        </li>
        <li>
          <a href="http://www.ladodesign.com.br/" target="_blank">
            <%= image_tag 'logo-lado-design.jpg', alt: 'Lado Design apoia o Frontinsampa' %>
          </a>
        </li>
        <li>
          <a href="https://plus.google.com/u/0/+DesenvolvedoresGoogle" target="_blank">
            <%= image_tag 'google-developers.jpg', alt: 'Google Developers apoia o Frontinsampa' %>
          </a>
        </li>
        <li>
          <a href="http://www.meetup.com/CSS-SP" target="_blank">
            <%= image_tag 'meetupcss-sp.jpg', alt: 'Meetup CSS de SP apoia o Frontinsampa' %>
          </a>
        </li>
        <li>
          <a href="http://frontinbh.com.br/" target="_blank">
            <%= image_tag 'frontinbh.jpg', alt: 'Frontinbh apoia o Frontinsampa' %>
          </a>
        </li>
        <li>
          <a href="http://frontinaracaju.com.br/" target="_blank">
            <%= image_tag 'frontinaracaju.jpg', alt: 'Fronintaracaju apoia o Frontinsampa' %>
          </a>
        </li>
        <li>
          <a href="http://www.jusbrasil.com.br/bem-vindo" target="_blank">
            <%= image_tag 'jusbrasil.jpg', alt: 'JusBrasil apoia o Frontinsampa' %>
          </a>
        </li>
        <li>
          <a href="http://zofe.com.br/" target="_blank">
            <%= image_tag 'zofe.jpg', alt: 'Zofe apoia o Frontinsampa' %>
          </a>
          <li>
          <a href="http://webschool.io/" target="_blank">
            <%= image_tag 'webschool.jpg', alt: 'Webschool apoia o Frontinsampa' %>
          </a>
        </li>
      </ul>
      <h2 class="title-sponsor">Apresentador</h2>
      <ul>
        <li>
          <a href="https://twitter.com/danielfilho" target="_blank" title="Ir para o twitter de Elvis Detona">
            <%= image_tag 'daniel-filho.jpg', alt: 'Daniel Filho' %><br>
            <span class="sub-title">Daniel Filho<br> @daniefilho</span>
          </a>
        </li>
      </ul>
      <h2 class="title-sponsor">Organização e Curadoria</h2>
      <ul>
        <li>
          <a href="http://www.twitter.com/elvisdetona" target="_blank" title="Ir para o twitter de Elvis Detona">
            <%= image_tag 'elvis-detona-frontinsampa.jpg', alt: 'Sergio Nascimento (Elvis Detona)' %><br>
            <span class="sub-title">Sergio Nascimento<br> @elvisdetona</span>
          </a>
        </li>
        <li>
          <a href="http://www.twitter.com/deividmarques" target="_blank" title="Ir para o twitter de Deivid Marques">
            <%= image_tag 'deivid-marques-frontinsampa.jpg', alt: 'Deivid Marques' %>
            <span class="sub-title">Deivid Marques<br> @deividmarques</span>
          </a>
        </li>
      </ul>
  </div>
</section>
