<section id="patrocinadores">
  <div class="container">
    <h2 class="title-sponsor">Patrocinadores</h2>

    <h3 class="sub-title">Bronze</h3>
    <ul>
      <li>
        <a href="https://www.alura.com.br/?utm_source=frontinsampa-site&utm_medium=logo&utm_campaign=frontinsampa2016
" target="_blank">
          <img src="<%= base_url %>images/alura.jpg" alt="Alura patrocina o Frontinsampa 2016" >
        </a>
      </li>
    </ul>

    <br>
    <br>
    <br>

    <h2 class="title-sponsor">Apoio</h2>
    <ul>

        <li>
          <a href="https://www.eventick.com.br" target="_blank">
            <img src="<%= base_url %>images/eventick.jpg" alt="Eventick apoia o frontinsampa" >
          </a>
        </li>
        <li>
        	<a href="http://www.stickersdevs.com.br/" target="_blank">
            <img src="<%= base_url %>images/stickers-dev.jpg" alt="Stickers Dev apoia o Frontinsampa" >
        	</a>
        </li>
        <li>
          <a href="http://eucompraria.com.br/" target="_blank">
            <img src="<%= base_url %>images/eucompraria.jpg" alt="Eu compraria apoia o Frontinsampa" >
          </a>
        </li>

        <li>
          <a href="http://conferenciacssbrasil.com.br/" target="_blank">
            <img src="<%= base_url %>images/confcssbr.jpg" alt="Conferência CSS de SP apoia o Frontinsampa" >
          </a>
        </li>


        <li>
          <a href="https://www.casadocodigo.com.br/?utm_source=frontinsampa-site&utm_medium=logo&utm_campaign=frontinsampa2016
" target="_blank">
            <img src="<%= base_url %>images/casa-do-codigo.png" alt="Casa do código apoia o frontinsampa" >
          </a>
        </li>

        <li>
          <a href="https://braziljs.org/" target="_blank">
            <img class="braziljs-logo" src="<%= base_url %>images/braziljs.svg" alt="BrazilJS apoia o frontinsampa" >
          </a>
        </li>

      </ul>

      <h2 class="title-sponsor">Apresentação</h2>
      <ul>
        <li>
          <a href="http://www.twitter.com/" target="_blank" title="Ir para o twitter de Ale Borba">
            <img src="<%= base_url %>images/speaker.jpg" alt="Ale Borba apresenta o Frontinsampa 2016" >
            <span class="sub-title">Ale Borba<br> <small>@</small></span>
          </a>
        </li>
      </ul>


      <h2 class="title-sponsor">Curadores</h2>
      <ul>
        <li>
          <a href="http://www.twitter.com/elvisdetona" target="_blank" title="Ir para o twitter de Elvis Detona">
            <img src="<%= base_url %>images/elvis-detona-frontinsampa.jpg" alt="Sergio Nascimento (Elvis Detona)' %>" >
            <span class="sub-title">Sergio Nascimento<br> <small>@elvisdetona</small></span>
          </a>
        </li>
        <li>
          <a href="http://www.twitter.com/deividmarques" target="_blank" title="Ir para o twitter de Deivid Marques">
            <img src="<%= base_url %>images/deivid-marques-frontinsampa.jpg" alt="Deivid Marques" >
            <span class="sub-title">Deivid Marques<br><small> @deividmarques</small></span>
          </a>
        </li>
        <li>
          <a href="http://www.twitter.com/" target="_blank" title="Ir para o twitter de Deivid Marques">
            <img src="<%= base_url %>images/deivid-marques-frontinsampa.jpg" alt="Deivid Marques" >
            <span class="sub-title">Keit Oliveira<br><small> @</small></span>
          </a>
        </li>
      </ul>
  </div>
</section>
