<section id="area-timeline">
  <div class="container">
    <h2 class="title">Programação</h2>

    <ul class="list-timeline">
      <li>
        <h3 class="talk-time">8:00 - 9:00</h3>
        <h4 class="sub-title">Credenciamento</h4>
        <p>Não esqueça de trazer seu RG.</p>
      </li>
      <li>
        <div class="box-spearker" itemscope itemtype="http://schema.org/Person">
          <%= image_tag 'sergio-lopes.jpg', alt: 'Imagem do Palestrante - Sergio Lopes da Caelum' %>
          <h3 class="sub-title">Sergio Lopes</h3>
          <p class="hide-mobile" itemprop="jobtitle">Instrutor e desenvolvedor na Caelum e no Alura</p>
          <a itemprop="url" href="https://twitter.com/sergio_caelum" class="hide-mobile" target="_blank"><strong>twitter.com/sergio_caelum</strong></a>
          <p class="hide-mobile"></p>
        </div>
        <h3 class="talk-time">9:00- 9:40</h3>
        <h4 class="sub-title">Palestra a definir</h4>
        <p class="hide-mobile">Programa há 16 anos e é apaixonado pela Web. Foca hoje em Front-end, especialmente responsivo e mobile. Dá muitas aulas na área, está sempre nos eventos de front e bloga bastante. Já lançou alguns livros pela editora Casa do Código, sendo "A Web Mobile" sua obra-prima.</p>
      </li>
      <li>
        <div class="box-spearker" itemscope itemtype="http://schema.org/Person">
          <%= image_tag 'speaker.jpg', alt: 'image fake de um palestrante' %>
          <h3 class="sub-title">Palestrante</h3>
          <p class="hide-mobile" itemprop="jobtitle">Bio do palestrante</p>
          <a itemprop="url" href="http://twitter.com/" class="hide-mobile" target="_blank"><strong>@urldopalestrante</strong></a>
        </div>
        <h3 class="talk-time">9:50 - 10:30</h3>
        <h4 class="sub-title">Palestra</h4>
        <p class="hide-mobile">Descrição da palestra</p>
      </li>
      <li>
        <div class="box-spearker" itemscope itemtype="http://schema.org/Person">
          <%= image_tag 'lourdes-montano.jpg', alt: 'imagem da palestrante Lourdes Montano' %>
          <h3 class="sub-title">Lourdes Montano</h3>
          <p class="hide-mobile" itemprop="jobtitle">Speaker at JS Conf Uruguay, Conferência CSS Brasil, Sass Conf 2015 Austin and FrontEnd Developer, RG/A Buenos Aires, Argentina</p>
          <a itemprop="url" href="http://twitter.com/loumontano" class="hide-mobile" target="_blank"><strong>@loumontano</strong></a>
        </div>
        <h3 class="talk-time">9:50 - 10:30</h3>
        <h4 class="sub-title">Guia de estilos com Sass Maps</h4>
        <p class="hide-mobile">Descrição da palestra</p>
      </li>
      <li>
        <div class="box-spearker" itemscope itemtype="http://schema.org/Person">
          <%= image_tag 'fernando-fleury.jpg', alt: 'imagem do palestrante Fernando Fleury' %>
          <h3 class="sub-title">Fernando Fleury</h3>
          <p class="hide-mobile" itemprop="jobtitle">FrontEnd Developer na Leroy Merlin, São Paulo, Brasil</p>
          <a itemprop="url" href="https://github.com/fernandofleury" class="hide-mobile" target="_blank"><strong>@fernandofleury </strong></a>
        </div>
        <h3 class="talk-time">9:50 - 10:30</h3>
        <h4 class="sub-title">PostCSS - Além dos pré-processadores</h4>
        <p class="hide-mobile">Como uma ferramenta em node.js me fez enxergar que eu não preciso mais usar pré-processadores</p>
      </li>
      <li>
        <div class="box-spearker" itemscope itemtype="http://schema.org/Person">
          <%= image_tag 'speaker.jpg', alt: 'image fake de um palestrante' %>
          <h3 class="sub-title">Palestrante</h3>
          <p class="hide-mobile" itemprop="jobtitle">Bio do palestrante</p>
          <a itemprop="url" href="http://twitter.com/cironunesdev" class="hide-mobile" target="_blank"><strong>@urldopalestrante</strong></a>
        </div>
        <h3 class="talk-time">9:50 - 10:30</h3>
        <h4 class="sub-title">Palestra</h4>
        <p class="hide-mobile">Descrição da palestra</p>
      </li>
      <li>
        <div class="box-spearker" itemscope itemtype="http://schema.org/Person">
          <%= image_tag 'evangelina.jpg', alt: 'Imagem da palestrante Evangelina Ferreira' %>
          <h3 class="sub-title">Eva Ferreira</h3>
          <p class="hide-mobile" itemprop="jobtitle">Evangelina ensina Web design na Universidade Tecnológica Nacional da Argentina. Já palestrou na CSSConf EUA, Austrália e JSConf CSSConf da Argentina. Em seu tempo livre estudando Design Multimídia e lê Harry Potter.</p>
          <a itemprop="url" href="http://twitter.com/evaferreira92" class="hide-mobile" target="_blank"><strong>@evaferreira92</strong></a>
        </div>
        <h3 class="talk-time">9:50 - 10:30</h3>
        <h4 class="sub-title">Newton & CSS</h4>
        <p class="hide-mobile">Animações realistas possuem um pouco de física. Nesta palestra mostrarei um pouco sobre Newton e muito de timing-functions! </p>
      </li>

      <li>
        <div class="box-spearker" itemscope itemtype="http://schema.org/Person">
          <%= image_tag 'party.jpg', alt: 'Imagem de um Dj tocando na festa do Frontinsampa' %>
          <h3 class="sub-title">Festa</h3>
          <p class="hide-mobile" itemprop="jobtitle">Descrição</p>
        </div>
        <h3 class="talk-time">19:40 - 21:30</h3>
        <p>Happy Networking Hour com Dj e Open Bar</p>
      </li>
    </ul>
    <p>Horários e ordem das apresentações poderão ser alterados até a data do evento!</p>
  </div>
</section>
