<section id="area-sponsor">
  <div class="container">
    <!-- <h2 class="title-sponsor">Patrocinadores</h2> -->

    <!-- <h3 class="sub-title">Diamante</h3>
    <ul>
      <li>
        <a href="" target="_blank">
          <%= image_tag '', alt: '' %>
        </a>
      </li>
    </ul>
     -->

    <h2 class="title-sponsor">Apoio</h2>
    <ul>
        <li>
        	<a href="http://www.eventick.com.br" target="_blank">
            <%= image_tag 'eventick.jpg', alt: 'Eventick apoia o Frontinsampa' %>
        	</a>
        </li>
        <li>
          <a href="http://www.novatec.com.br" target="_blank">
            <%= image_tag 'novatec.jpg', alt: 'Novatec apoia o Frontinsampa' %>
          </a>
        </li>
        <li>
        	<a href="http://www.imasters.com.br/" target="_blank">
            <%= image_tag 'imasters.jpg', alt: 'iMasters apoia o Frontinsampa' %>
        	</a>
        </li>
        <li>
        	<a href="http://eucompraria.com.br/" target="_blank">
            <%= image_tag 'eucompraria.jpg', alt: 'Eu compraria apoia o Frontinsampa' %>
        	</a>
        </li>
        <li>
        	<a href="https://www.facebook.com/caravanaweb" target="_blank">
            <%= image_tag 'caravanaweb.jpg', alt: 'CaravanaWeb apoia o Frontinsampa' %>
        	</a>
        </li>
        <li>
          <a href="http://www.ladodesign.com.br/" target="_blank">
            <%= image_tag 'logo-lado-design.jpg', alt: 'Lado Design apoia o Frontinsampa' %>
          </a>
        </li>

        <li>
          <a href="http://www.meetup.com/CSS-SP" target="_blank">
            <%= image_tag 'meetupcss-sp.jpg', alt: 'Meetup CSS de SP apoia o Frontinsampa' %>
          </a>
        </li>
        <li>
          <a href="http://frontinbh.com.br/" target="_blank">
            <%= image_tag 'frontinbh.jpg', alt: 'Frontinbh apoia o Frontinsampa' %>
          </a>
        </li>
        <li>
          <a href="http://frontinaracaju.com.br/" target="_blank">
            <%= image_tag 'frontinaracaju.jpg', alt: 'Fronintaracaju apoia o Frontinsampa' %>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/Frontinterior" target="_blank">
            <%= image_tag 'frontinterior.jpg', alt: 'Froninterior apoia o Frontinsampa' %>
          </a>
        </li>

        <li>
          <a href="http://zofe.com.br/" target="_blank">
            <%= image_tag 'zofe.jpg', alt: 'Zofe apoia o Frontinsampa' %>
          </a>
        <li>
          <a href="http://webschool.io/" target="_blank">
            <%= image_tag 'webschool.jpg', alt: 'Webschool apoia o Frontinsampa' %>
          </a>
        </li>
      </ul>

      <h2 class="title-sponsor">Curadores</h2>
      <ul>
        <li>
          <a href="http://www.twitter.com/elvisdetona" target="_blank" title="Ir para o twitter de Elvis Detona">
            <%= image_tag 'elvis-detona-frontinsampa.jpg', alt: 'Sergio Nascimento (Elvis Detona)' %><br>
            <span class="sub-title">Sergio Nascimento<br> <small>@elvisdetona</small></span>
          </a>
        </li>
        <li>
          <a href="http://www.twitter.com/deividmarques" target="_blank" title="Ir para o twitter de Deivid Marques">
            <%= image_tag 'deivid-marques-frontinsampa.jpg', alt: 'Deivid Marques' %>
            <span class="sub-title">Deivid Marques<br><small> @deividmarques</small></span>
          </a>
        </li>
      </ul>
  </div>
</section>
