<section id="area-timeline">
  <div class="container">
    <h2 class="title">Programação</h2>

    <ul class="list-timeline">
      <li>
        <h3 class="talk-time">8:00 - 9:00</h3>
        <h4 class="sub-title">Credenciamento</h4>
        <p>Não esqueça de trazer seu RG.</p>
      </li>
      <li>
        <div class="box-spearker" itemscope itemtype="http://schema.org/Person">
          <img src="<%= base_url %>images/sergio-lopes.jpg" alt="Imagem do Palestrante - Sergio Lopes da Caelum" >
          <h3 class="sub-title">Sergio Lopes</h3>
          <p class="hide-mobile" itemprop="jobtitle">Instrutor e desenvolvedor na Caelum e no Alura</p>
          <a itemprop="url" href="https://twitter.com/sergio_caelum" class="hide-mobile" target="_blank"><strong>@sergio_caelum</strong></a>
        </div>
        <h3 class="talk-time">9:00- 9:40</h3>
        <h4 class="sub-title">"Progressive Web Apps: o melhor da web, "Appficada"</h4>
        <p class="hide-mobile">Muito do que só se fazia em Apps nativas hoje é possível na Web. Conheça as Progressive Web Apps instaláveis e como dar a melhor experiência da Web com um toque de App sob medida.</p>
      </li>
      <li>
        <div class="box-spearker" itemscope itemtype="http://schema.org/Person">
          <img src="<%= base_url %>images/speaker.jpg" alt="image fake de um palestrante">
          <h3 class="sub-title">Palestrante em breve</h3>
          <p class="hide-mobile" itemprop="jobtitle"></p>
          <a itemprop="url" href="http://twitter.com/" class="hide-mobile" target="_blank"><strong></strong></a>
        </div>
        <h3 class="talk-time">9:50 - 10:30</h3>
        <h4 class="sub-title">Palestra a definir</h4>
        <p class="hide-mobile"></p>
      </li>
      <li>
        <div class="box-spearker" itemscope itemtype="http://schema.org/Person">
          <img src="<%= base_url %>images/lourdes-montano.jpg" alt="imagem da palestrante Lourdes Montano">
          <h3 class="sub-title">Lourdes Montano</h3>
          <p class="hide-mobile" itemprop="jobtitle">Speaker at JS Conf Uruguay, Conferência CSS Brasil, Sass Conf 2015 Austin and FrontEnd Developer, R/GA Buenos Aires, Argentina</p>
          <a itemprop="url" href="http://twitter.com/loumontano" class="hide-mobile" target="_blank"><strong>@loumontano</strong></a>
        </div>
        <h3 class="talk-time">10:40 - 11:20</h3>
        <h4 class="sub-title">Guia de estilos com Sass Maps</h4>
        <p class="hide-mobile">Nesta palestra vamos ver como criar estilos com Sass Maps, uma ferramenta útil para a organização de código e tornar mais fácil de se estruturar e facilitar sua manutenção.</p>
      </li>
      <li>
        <div class="box-spearker" itemscope itemtype="http://schema.org/Person">
          <img src="<%= base_url %>images/speaker.jpg" alt="image fake de um palestrante">
          <h3 class="sub-title">Palestrante em breve</h3>
          <p class="hide-mobile" itemprop="jobtitle"></p>
          <a itemprop="url" href="http://twitter.com/" class="hide-mobile" target="_blank"><strong></strong></a>
        </div>
        <h3 class="talk-time">11:30 - 12:10</h3>
        <h4 class="sub-title">Palestra a definir</h4>
        <p class="hide-mobile"></p>
      </li>

      <li>
        <h3 class="talk-time">12:20 - 14:00</h3>
        <h4 class="sub-title">Almoço</h4>
        <p>Várias lanchonetes e restaurantes ao redor, é só escolher.</p>
      </li>
      <li>
        <div class="box-spearker" itemscope itemtype="http://schema.org/Person">
          <img src="<%= base_url %>images/fernando-fleury.jpg" alt="imagem do palestrante Fernando Fleury">
          <h3 class="sub-title">Fernando Fleury</h3>
          <p class="hide-mobile" itemprop="jobtitle">FrontEnd Developer na Leroy Merlin, São Paulo, Brasil</p>
          <a itemprop="url" href="https://github.com/fernandofleury" class="hide-mobile" target="_blank"><strong>@fernandofleury </strong></a>
        </div>
        <h3 class="talk-time">14:10 - 14:50</h3>
        <h4 class="sub-title">PostCSS - Além dos pré-processadores</h4>
        <p class="hide-mobile">Como uma ferramenta em node.js me fez enxergar que eu não preciso mais usar pré-processadores</p>
      </li>
      <li>
        <div class="box-spearker" itemscope itemtype="http://schema.org/Person">
          <img src="<%= base_url %>images/cassio.jpg" alt="Imagem do palestrante Cassio Zen">
          <h3 class="sub-title">Cássio Zen  </h3>
          <p class="hide-mobile" itemprop="jobtitle"></p>
          <a itemprop="url" href="http://twitter.com/@cassiozen " class="hide-mobile" target="_blank"><strong>@cassiozen </strong></a>
        </div>
        <h3 class="talk-time">15:00 - 15:40</h3>
        <h4 class="sub-title">Learn once Write Everywhere: Introdução ao React </h4>
        <p class="hide-mobile">React é uma biblioteca JavaScript que trouxe uma nova abordagem para o desenvolvimento de aplicações web e mobile nativas. Flux é uma arquitetura para desenvolvimento de aplicações que complementa o React.<br>O objetivo dessa palestra é apresentar as tecnologias de forma prática e mostrar como elas podem ser empregadas em seus próximos projetos</p>
      </li>

       <li>
        <div class="box-spearker" itemscope itemtype="http://schema.org/Person">
          <img src="<%= base_url %>images/speaker.jpg" alt="image fake de um palestrante">
          <h3 class="sub-title">Palestrante em breve</h3>
          <p class="hide-mobile" itemprop="jobtitle"></p>
          <a itemprop="url" href="" class="hide-mobile" target="_blank"><strong></strong></a>
        </div>
        <h3 class="talk-time">15:50 - 16:30</h3>
        <h4 class="sub-title">Palestra</h4>
        <p class="hide-mobile">Descrição da palestra</p>
      </li>

      <li>
        <h3 class="talk-time">16:30 - 17:00</h3>
        <h4 class="sub-title">Coffeebreak</h4>
        <p>Levante para esticar as pernas, tomar um café e bater um papo com o pessoal.</p>
      </li>

      <li>
        <div class="box-spearker" itemscope itemtype="http://schema.org/Person">
          <img src="<%= base_url %>images/evangelina.jpg" alt="Imagem da palestrante Evangelina Ferreira">
          <h3 class="sub-title">Eva Ferreira</h3>
          <p class="hide-mobile" itemprop="jobtitle">Evangelina ensina Web design na Universidade Tecnológica Nacional da Argentina. Já palestrou na CSSConf EUA, Austrália e JSConf CSSConf da Argentina. Em seu tempo livre estuda Design Multimídia e lê Harry Potter.</p>
          <a itemprop="url" href="http://twitter.com/evaferreira92" class="hide-mobile" target="_blank"><strong>@evaferreira92</strong></a>
        </div>
        <h3 class="talk-time">17:00 - 17:50</h3>
        <h4 class="sub-title">Newton & CSS</h4>
        <p class="hide-mobile">Animações realistas possuem um pouco de física. Nesta palestra mostrarei um pouco sobre Newton e muito de timing-functions! </p>
      </li>

      <li>
        <div class="box-spearker" itemscope itemtype="http://schema.org/Person">
          <img src="<%= base_url %>images/speaker.jpg" alt="image fake de um palestrante">
          <h3 class="sub-title">Palestrante em breve</h3>
          <p class="hide-mobile" itemprop="jobtitle"></p>
          <a itemprop="url" href="" class="hide-mobile" target="_blank"><strong></strong></a>
        </div>
        <h3 class="talk-time">18:00 - 18:50</h3>
        <h4 class="sub-title">Palestra</h4>
        <p class="hide-mobile">Descrição da palestra</p>
      </li>

      <li>
        <div class="box-spearker" itemscope itemtype="http://schema.org/Person">
          <img src="<%= base_url %>images/party.jpg" alt="Imagem de um Dj tocando na festa do Frontinsampa">
          <h3 class="sub-title">after hour</h3>
          <p class="hide-mobile" itemprop="jobtitle">Powered by Frontinsampa + DevFest SP. Como os 2 eventos vão acontecer simultaneamente e estão na mesma região, resolvemos juntar as forças e fazer uma grande festa! Djs convidados: Renan Bulgueroni (Discotecou na 2ª edição) e Leandro Godoi (Nosso fotógrafo ataca de DJ nas horas vagas).</p>
        </div>
        <h3 class="talk-time">19:00</h3>
        <p>Além do Open Bar com VJ e Dj´s, teremos também a presença dos participantes da DevFest SP, que é organizado pelo GDG-SP.</p>
      </li>
    </ul>
    <p>Horários e ordem das apresentações poderão ser alterados até a data do evento!</p>
  </div>
</section>
